
/* Extra large */
@media screen and (max-width: 1200px) {
    .navlist {
        flex-wrap: wrap; /* 在窄屏幕上允许元素换行 */
    }

    .flex-item{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
}

/* Large */
@media screen and (max-width: 992px) {
  .navlist {
    flex-wrap: wrap; /* 在窄屏幕上允许元素换行 */
}

    .documentation-header section,
    main.documentation-page section{
        margin: 40px 5%;
    }

}

/* Medium */
@media screen and (max-width: 768px) {
  .navlist {
    flex-wrap: wrap; /* 在窄屏幕上允许元素换行 */
}

    .flex-item{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
}

/* Small */
@media screen and (max-width: 576px) {
  .navlist {
    flex-wrap: wrap; /* 在窄屏幕上允许元素换行 */
}

    .flex-item{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
}