* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.nav{
    font-size:20px;
    height:40px;
    background: #c1121f;
}
.btli{
    font-weight: 700; /* Bold */
    position: relative;
    /* 横排对齐 */
    float:left; 
    line-height:40px;
    text-align: center;
}
.navlist a{
    color:#fdf4e5;
    display:block;
    padding:0 25px;
}
.navlist a:hover{
    background: #c1121f;
    transition: opacity 1s;
}
.droplist{
    font-weight: 300;
    font-size: 0.8em;
    background:#c41411;
    box-shadow: 0 1px 2px rgb(111, 102, 129);
    display:none;
    position: absolute; 
    left: 0; 
    top: 100%; 
    text-align: left;
    /* border-radius: 6px; */
    z-index:10;
}
.btli:hover .droplist{
    display:block; 
    background: #c41411;
}

/* 
nav{
    padding:10px 3%;
}

nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: rgb(243, 255, 255);
}

.center-text{
    text-align: center;
}
.centered-content{
   margin: 50px;
}

img{
    width: 100%;
} */
