#p5-mergeCircles {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index:1000
}
#p5-Butterfly{
    display: block;
    width: 100%;
}
#p5-Jellyfish{
    display: block;
    width: 100vw;
    border: none;
    /* height: 100vh; */
}